<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>technicallyjosh.alfred.alfred-bookmarks</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>14220207-DFF0-42C2-8E8B-6DE923D9E05B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6678C084-AAC9-468C-96E3-6D30E75A28C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B9F47AA5-C6A6-402D-A7FF-E77F7E5FD90A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CFB99AD-FF33-4826-9ED7-CFD99052511D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54412A08-98A1-42A1-B13D-38140517E862</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CFB99AD-FF33-4826-9ED7-CFD99052511D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>25B9B159-29FD-4AAF-BB87-1B534B26940A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>05D5C98B-7DC3-4787-9A6A-8A69F5ED3B47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</key>
		<array/>
		<key>275AF668-A6D9-41FA-B4F5-E3CAD6050EC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14220207-DFF0-42C2-8E8B-6DE923D9E05B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6678C084-AAC9-468C-96E3-6D30E75A28C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CFB99AD-FF33-4826-9ED7-CFD99052511D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>technicallyjosh</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Aflred Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"9efae4be72add683de8ab34e1d6f5e40c1543522.png","title":"Set Brave Browser","arg":"-set-browser=brave","subtitle":""},{"imagefile":"ecdf9d0a155d7f261b4da277c4b83d9ddf6fb231.png","title":"Set Firefox Browser","arg":"-set-browser=firefox"},{"imagefile":"d3ec5bd1cd0d0d91fb5650c7f6cc9a6487f4e966.png","title":"Set Microsoft Edge Browser","arg":"-set-browser=edge"},{"imagefile":"0af4f6c2f0a39a5ddeafcfc4ba90efcf1f5deb4e.png","title":"Clear Cache","arg":"-clear-cache"},{"imagefile":"23a3aa224a49545015a28c7d628f883a1c3f94a6.png","title":"Clear Data","arg":"-clear-data","subtitle":"Clear cache and data for plugin"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Configure</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>-show-config</string>
						<key>outputlabel</key>
						<string>show config</string>
						<key>uid</key>
						<string>B9F47AA5-C6A6-402D-A7FF-E77F7E5FD90A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>-clear-cache</string>
						<key>outputlabel</key>
						<string>clear cache</string>
						<key>uid</key>
						<string>25B9B159-29FD-4AAF-BB87-1B534B26940A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>-set-browser</string>
						<key>outputlabel</key>
						<string>set browser</string>
						<key>uid</key>
						<string>54412A08-98A1-42A1-B13D-38140517E862</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>14220207-DFF0-42C2-8E8B-6DE923D9E05B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6678C084-AAC9-468C-96E3-6D30E75A28C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./alfred-bookmarks "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>275AF668-A6D9-41FA-B4F5-E3CAD6050EC9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-bookmarks $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7CFB99AD-FF33-4826-9ED7-CFD99052511D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>05D5C98B-7DC3-4787-9A6A-8A69F5ED3B47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05D5C98B-7DC3-4787-9A6A-8A69F5ED3B47</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>14220207-DFF0-42C2-8E8B-6DE923D9E05B</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>275AF668-A6D9-41FA-B4F5-E3CAD6050EC9</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>6678C084-AAC9-468C-96E3-6D30E75A28C7</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>7CFB99AD-FF33-4826-9ED7-CFD99052511D</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/technicallyjosh/alfred-brave-bookmarks</string>
</dict>
</plist>
