<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>bundleid</key>
		<string>technicallyjosh.alfred.alfred-bookmarks</string>
		<key>category</key>
		<string>Internet</string>
		<key>connections</key>
		<dict>
			<key>14220207-DFF0-42C2-8E8B-6DE923D9E05B</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>6678C084-AAC9-468C-96E3-6D30E75A28C7</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>sourceoutputuid</key>
					<string>B9F47AA5-C6A6-402D-A7FF-E77F7E5FD90A</string>
					<key>vitoclose</key>
					<false/>
				</dict>
				<dict>
					<key>destinationuid</key>
					<string>7CFB99AD-FF33-4826-9ED7-CFD99052511D</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>sourceoutputuid</key>
					<string>54412A08-98A1-42A1-B13D-38140517E862</string>
					<key>vitoclose</key>
					<false/>
				</dict>
				<dict>
					<key>destinationuid</key>
					<string>7CFB99AD-FF33-4826-9ED7-CFD99052511D</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>sourceoutputuid</key>
					<string>25B9B159-29FD-4AAF-BB87-1B534B26940A</string>
					<key>vitoclose</key>
					<false/>
				</dict>
				<dict>
					<key>destinationuid</key>
					<string>05D5C98B-7DC3-4787-9A6A-8A69F5ED3B47</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</key>
			<array>
			</array>
			<key>275AF668-A6D9-41FA-B4F5-E3CAD6050EC9</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>14220207-DFF0-42C2-8E8B-6DE923D9E05B</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>6678C084-AAC9-468C-96E3-6D30E75A28C7</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>7CFB99AD-FF33-4826-9ED7-CFD99052511D</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
			<key>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</key>
			<array>
				<dict>
					<key>destinationuid</key>
					<string>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</string>
					<key>modifiers</key>
					<integer>0</integer>
					<key>modifiersubtext</key>
					<string/>
					<key>vitoclose</key>
					<false/>
				</dict>
			</array>
		</dict>
		<key>createdby</key>
		<string>technicallyjosh</string>
		<key>description</key>
		<string/>
		<key>disabled</key>
		<false/>
		<key>name</key>
		<string>Aflred Bookmarks</string>
		<key>objects</key>
		<array>
			<dict>
				<key>config</key>
				<dict>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>2</integer>
					<key>fixedorder</key>
					<true/>
					<key>items</key>
					<string>[{&#34;imagefile&#34;:&#34;9efae4be72add683de8ab34e1d6f5e40c1543522.png&#34;,&#34;title&#34;:&#34;Set Brave Browser&#34;,&#34;arg&#34;:&#34;-set-browser=brave&#34;,&#34;subtitle&#34;:&#34;&#34;},{&#34;imagefile&#34;:&#34;d3ec5bd1cd0d0d91fb5650c7f6cc9a6487f4e966.png&#34;,&#34;title&#34;:&#34;Set Microsoft Edge Browser&#34;,&#34;arg&#34;:&#34;-set-browser=edge&#34;},{&#34;imagefile&#34;:&#34;0af4f6c2f0a39a5ddeafcfc4ba90efcf1f5deb4e.png&#34;,&#34;title&#34;:&#34;Clear Cache&#34;,&#34;arg&#34;:&#34;-clear-cache&#34;},{&#34;imagefile&#34;:&#34;23a3aa224a49545015a28c7d628f883a1c3f94a6.png&#34;,&#34;title&#34;:&#34;Clear Data&#34;,&#34;arg&#34;:&#34;-clear-data&#34;,&#34;subtitle&#34;:&#34;Clear cache and data for plugin&#34;}]</string>
					<key>runningsubtext</key>
					<string/>
					<key>subtext</key>
					<string/>
					<key>title</key>
					<string>Configure</string>
					<key>withspace</key>
					<false/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.listfilter</string>
				<key>uid</key>
				<string>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>conditions</key>
					<array>
						<dict>
							<key>inputstring</key>
							<string/>
							<key>matchcasesensitive</key>
							<false/>
							<key>matchmode</key>
							<integer>0</integer>
							<key>matchstring</key>
							<string>-show-config</string>
							<key>outputlabel</key>
							<string>show config</string>
							<key>uid</key>
							<string>B9F47AA5-C6A6-402D-A7FF-E77F7E5FD90A</string>
						</dict>
						<dict>
							<key>inputstring</key>
							<string/>
							<key>matchcasesensitive</key>
							<false/>
							<key>matchmode</key>
							<integer>0</integer>
							<key>matchstring</key>
							<string>-clear-cache</string>
							<key>outputlabel</key>
							<string>clear cache</string>
							<key>uid</key>
							<string>25B9B159-29FD-4AAF-BB87-1B534B26940A</string>
						</dict>
						<dict>
							<key>inputstring</key>
							<string/>
							<key>matchcasesensitive</key>
							<false/>
							<key>matchmode</key>
							<integer>4</integer>
							<key>matchstring</key>
							<string>-set-browser</string>
							<key>outputlabel</key>
							<string>set browser</string>
							<key>uid</key>
							<string>54412A08-98A1-42A1-B13D-38140517E862</string>
						</dict>
					</array>
					<key>elselabel</key>
					<string>else</string>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.conditional</string>
				<key>uid</key>
				<string>14220207-DFF0-42C2-8E8B-6DE923D9E05B</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argument</key>
					<string/>
					<key>passthroughargument</key>
					<false/>
					<key>variables</key>
					<dict>
					</dict>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.argument</string>
				<key>uid</key>
				<string>6678C084-AAC9-468C-96E3-6D30E75A28C7</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>alfredfiltersresults</key>
					<false/>
					<key>alfredfiltersresultsmatchmode</key>
					<integer>0</integer>
					<key>argumenttreatemptyqueryasnil</key>
					<true/>
					<key>argumenttrimmode</key>
					<integer>0</integer>
					<key>argumenttype</key>
					<integer>1</integer>
					<key>escaping</key>
					<integer>102</integer>
					<key>keyword</key>
					<string>bm</string>
					<key>queuedelaycustom</key>
					<integer>3</integer>
					<key>queuedelayimmediatelyinitially</key>
					<true/>
					<key>queuedelaymode</key>
					<integer>0</integer>
					<key>queuemode</key>
					<integer>1</integer>
					<key>runningsubtext</key>
					<string/>
					<key>script</key>
					<string>./alfred-brave-bookmarks &#34;$1&#34;</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string/>
					<key>subtext</key>
					<string/>
					<key>title</key>
					<string/>
					<key>type</key>
					<integer>0</integer>
					<key>withspace</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.input.scriptfilter</string>
				<key>uid</key>
				<string>275AF668-A6D9-41FA-B4F5-E3CAD6050EC9</string>
				<key>version</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>concurrently</key>
					<false/>
					<key>escaping</key>
					<integer>102</integer>
					<key>script</key>
					<string>./alfred-brave-bookmarks $1</string>
					<key>scriptargtype</key>
					<integer>1</integer>
					<key>scriptfile</key>
					<string/>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.script</string>
				<key>uid</key>
				<string>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</string>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>argument</key>
					<string>{query}</string>
					<key>passthroughargument</key>
					<true/>
					<key>variables</key>
					<dict>
					</dict>
				</dict>
				<key>type</key>
				<string>alfred.workflow.utility.argument</string>
				<key>uid</key>
				<string>7CFB99AD-FF33-4826-9ED7-CFD99052511D</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>config</key>
				<dict>
					<key>browser</key>
					<string/>
					<key>spaces</key>
					<string/>
					<key>url</key>
					<string>{query}</string>
					<key>utf8</key>
					<true/>
				</dict>
				<key>type</key>
				<string>alfred.workflow.action.openurl</string>
				<key>uid</key>
				<string>05D5C98B-7DC3-4787-9A6A-8A69F5ED3B47</string>
				<key>version</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>readme</key>
		<string/>
		<key>uidata</key>
		<dict>
			<key>05D5C98B-7DC3-4787-9A6A-8A69F5ED3B47</key>
			<dict>
				<key>xpos</key>
				<integer>830</integer>
				<key>ypos</key>
				<integer>295</integer>
			</dict>
			<key>14220207-DFF0-42C2-8E8B-6DE923D9E05B</key>
			<dict>
				<key>xpos</key>
				<integer>240</integer>
				<key>ypos</key>
				<integer>150</integer>
			</dict>
			<key>221BFBB0-F65B-4781-8BF8-10FCEEFF1F27</key>
			<dict>
				<key>xpos</key>
				<integer>830</integer>
				<key>ypos</key>
				<integer>160</integer>
			</dict>
			<key>275AF668-A6D9-41FA-B4F5-E3CAD6050EC9</key>
			<dict>
				<key>xpos</key>
				<integer>50</integer>
				<key>ypos</key>
				<integer>160</integer>
			</dict>
			<key>6678C084-AAC9-468C-96E3-6D30E75A28C7</key>
			<dict>
				<key>xpos</key>
				<integer>410</integer>
				<key>ypos</key>
				<integer>150</integer>
			</dict>
			<key>7CFB99AD-FF33-4826-9ED7-CFD99052511D</key>
			<dict>
				<key>xpos</key>
				<integer>570</integer>
				<key>ypos</key>
				<integer>205</integer>
			</dict>
			<key>A9A1FE92-2779-4B6B-A7D3-6601FAFE7965</key>
			<dict>
				<key>xpos</key>
				<integer>555</integer>
				<key>ypos</key>
				<integer>80</integer>
			</dict>
		</dict>
		<key>version</key>
		<string>1.2.0</string>
		<key>webaddress</key>
		<string>https://github.com/technicallyjosh/alfred-brave-bookmarks</string>
	</dict>
</plist>